<h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>

<div class="row">
  <div class="col-md-12">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class="control-label col-md-3">
          <%= f.label :email %>
        </div>

        <div class="col-md-9">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <div class="control-label col-md-3">
         <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        </div>

        <div class="col-md-9">
          <%= f.password_field :password, autocomplete: "new-password" %>

          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-3">
          <%= f.label :password_confirmation %>
        </div>

        <div class="col-md-9">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-3">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        </div>

        <div class="col-md-9">
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <%= f.submit "Update" %>
        </div>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>