<h2 class="text-center">Sign up</h2>

<div class="row">
  <div class="col-md-12">
    <%= form_for(resource, as: resource_name, html: { class: 'form-horizontal', role: 'form' },
                 url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <div class="control-label col-md-3">
          <%= f.label :email %>
        </div>

        <div class="col-md-9">
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-3">
          <%= f.label :password %>
        </div>

        <div class="col-md-9">
          <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>

          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-3">
          <%= f.label :password_confirmation %>
        </div>

        <div class="col-md-9">
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <%= f.submit "Sign up", class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>